<plugin name='jsonp' version='0.3' grailsVersion='2.0 &gt; *'>
  <author>Your name</author>
  <title>Jsonp Plugin</title>
  <description>Override render method defined for all controller to add parameter callback 
function name to provide cross domain JSONP RESTfull controllers
</description>
  <documentation>http://grails.org/plugin/jsonp</documentation>
  <type>JsonpGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>